@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

#video_promocional {
    width: 100%;
    height: 100vh;
    background-color: #6eb1a7;
}

.video_passo {
    width: 100%;
    height: 100%;
}
/* 
#barra {
    border: 1px solid black;
    background-color: yellow;
    width: 640px;
    height: 20px;
    padding: 0px;
}

#barra_progresso {
    background-color: green;
    height: 20px;
    width: 0px;
} */

section {
    display: flex;
    justify-content: space-between;
    /* border: 2px dashed darkblue; */
}

.image {
    width: 50%;
}

.image video {
    width: 100%;
    /* border: 2px solid blue; */
}

.left {
    border-right: 2px solid green;
    /* border-bottom: 2px solid #14bf98;
    border-top: 2px solid #14bf98; */
    /* background: #14bf98; */
}

.right {
    /* border-top: 2px solid #14bf98;
    border-bottom: 2px solid #14bf98; */
    border-left: 2px solid green;
    /* background: #14bf98; */
}

.description {
    width: 50%;
    font-family: "Open Sans", sans-serif;
    /* padding: 20px; */
    /* border: 2px dashed red; */
}

.description h2 {
    width: 100%;
    color: #484a46;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.content {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
}

.content .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #14bf98;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.25rem;
    text-align: center;
}

.content .attention {
    background-color: #FFDA1C;
    color: #4B4B4B;
    border: 1px solid #14bf98;
}

.content p {
    color: #484a46;
    box-shadow: none;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: -0.4px;
    text-align: left;
}

.desenvolvedores {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} 

.desenvolvedor {
    padding: 10px;
}

.linha {
    background-color: green;
    width: 2px;
    height: 10px;
    /* border: 1px solid green; */
}